.link {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

.settings {
	width: 100%;
}

tr:nth-child(1) {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

tr:nth-child(2) {
	font-size: 85%;
	color: gray;
	text-align: center;
}


.settings td {
	padding-left: 10px;
	padding-right: 10px;
}

.settings input {
	width: 100%;
}

.col1 {
	width: 20%;
}

.col2 {

}

.col3 {
	width: 20%;
}

.col4 {
	width: 10%;
}